@import url("fonts.css");
*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Figtree", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.4rem;
}
form {
  height: auto;
  padding: 1em;
  background-color: rgb(9, 241, 9);
  border-radius: 12px;
}
form h1 {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  color: white;
  text-align: center;
}
form input {
  background-color: white;
  width: 100%;
  height: 3em;
  border: none;
  border-radius: 8px;
  margin-top: 8px;
  padding: 4px;
  outline: none;
}
form input[type="text"] {
  font-weight: 700;
}
form input[type="text"]:focus {
  outline: 1px solid white;
  background-color: rgb(9, 241, 9);
  color: white;
  font-family: Karla;
}
form label {
  font-size: 16px;
  font-family: Raleway;
  color: white;
  font-weight: 800;
}
form div.submit-field div {
  text-align: center;
}
form input[type="submit"] {
  font-family: "DMSans", sans-serif;
  font-weight: 800;
  width: 50%;
  color: rgb(4, 116, 4);
  background-color: rgb(255, 255, 255);
  margin-bottom: 16px;
}
form input[type="submit"]:hover {
  color: white;
  background-color: rgb(9, 241, 9);
  border: 1px solid white;
}
form small {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
form input[type="checkbox"] {
  width: 20px;
  accent-color: white;
}
form div.input-field div.check {
  display: flex;
  align-items: center;
  gap: 8px;
}
label[for="consent"] {
  font-weight: 400;
}
@media (max-width: 48em) {
}
